redColor = #dd4b39
blueColor = #5a72cb

// Macro
transform()
    -webkit-transform: arguments
    -moz-transform: arguments
    -o-transform: arguments
    -ms-transform: arguments
    transform: arguments
transition()
    -webkit-transition: arguments
    -moz-transition: arguments
    -o-transition: arguments
    -ms-transition: arguments
    transition: arguments
transitionDelay()
    -webkit-transition-delay: arguments
    -moz-transition-delay: arguments
    -o-transition-delay: arguments
    -ms-transition-delay: arguments
    transition-delay: arguments
transformOrigin()
    -webkit-transform-origin: arguments
    -moz-transform-origin: arguments
    -o-transform-origin: arguments
    -ms-transform-origin: arguments
    transform-origin: arguments

.blue
    color redColor

.red
    color blueColor

*, *:before, *:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box


// START
body, html
    width 100%
    height 100%
    min-height 100%
    min-width 100%
    font-family: 'Open Sans', sans-serif;
    font-size: 12px
    font-weight: 400
    background #f4f4f4

header
    
    width 100%
    height 337px
    

    #title
        opacity 1
        width 100%
        height 337px
        background #FFF
        z-index 2
        top -337px
        left 0
        text-align center
        display table

        a
            text-decoration none

        .inner
            transition(all 0.2s ease)
            width 100%
            max-width 502px
            height 327px
            margin 5px auto
            border 1px solid #f4f4f4
            background #FFF
            display table-cell
            vertical-align middle

        .deco
            text-decoration none
            margin auto
            display block
            width 13px
            height 21px

        .the
            text-decoration none
            padding-top 29px
            display block
            font-size 14px
            color #5a72cb

        .christmas
            text-decoration none
            display block
            font-size 36px
            font-weight 800
            color #fe5151
            text-transform uppercase
            letter-spacing 6px
            margin-top -2px

        .experiments
            text-decoration none
            display block
            font-size 18px
            font-weight 800
            color #5a72cb
            text-transform uppercase
            letter-spacing 3px
            margin-top -2px

        sub 
            text-decoration none
            display block
            padding-top 25px
            color #7694c2
            font-size 14px
            letter-spacing 2.5px

        a.about
            display block
            text-transform uppercase
            text-decoration underline
            color #5a72cb
            padding-top 27px
            letter-spacing 2.4px

        .share
            opacity 1
            transition(all .6s ease-out)
            transitionDelay(2.1s)
            padding-top 37px

            .fb_iframe_widget
                margin-right 8px

        #twitter-widget-0
            padding-left 5px
            max-width: 107px
            max-height: 20px
        #twitter-widget-2
            max-width: 137px
            max-height: 20px

#twitter-widget-3
    max-width: 80px
    max-height: 20px

#twitter-widget-1
    max-width: 107px
    max-height: 20px

#twitter-widget-4
    max-width: 137px
    max-height: 20px

.dayProject
    
    width 100%
    max-width 1024px
    height 348px
    margin 0 auto

    .left,
    .right 
        width 50%
        height 100%
        float left

    .left 
        background redColor
        display table
        text-align center
        color #fff

        .inner 

            width auto
            height 131px
            display table-cell
            vertical-align middle

            .look 
                text-transform uppercase
                font-size 1rem
                font-family "OpenSans-bold"
                letter-spacing 3px

            a 
                color #fff 
                display block

            h2 
                font-family "OpenSans-bold"
                font-size 1.9rem
                letter-spacing 3px
                margin 15px 0

            .author 
                font-family "OpenSans-italic"
                margin 0 0 5px 0

                a 
                    margin 10px 0
                    font-family "OpenSans-bold"
                    text-transform uppercase

    .right
        opacity 1
        overflow hidden
        cursor pointer
        position relative

        .content
                background url("../img/07/featured.jpg") no-repeat center center
                background-size auto auto
                height 100%
                width 100%
                position relative
                transition(all 0.8s ease-out)

                .day
                    transition(all 0.4s ease)
                    position absolute
                    top 50%
                    left 50%
                    margin-left -38px
                    margin-top -35px
                    z-index 10
                    background #FFF
                    // margin auto
                    // margin-top 135px
                    width 70px
                    height 70px
                    padding-top 19px
                    font-size 30px
                    color #dd4b39
                    border-bottom 5px solid #dd4b39
                    text-align center
                    transitionDelay(.4s)

        

        .mask
                position absolute
                top 0 
                left 0
                opacity .3
                background #011437
                width 50%
                min-height 100%
                height 100%
                z-index 8
                left 0
                transition(all 0.8s ease-out)
                transform(perspective(300px) rotateX(0deg) rotateY(0deg) rotateZ(0deg))

        &:hover
                .content
                        transform(scale(1.2))
                .mask
                        left -50%
                        transform(perspective(300px) rotateX(0deg) rotateY(90deg) rotateZ(0deg))
                .mask2
                        left auto
                        right -50%
                        transform(perspective(300px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg))
                .day
                        transitionDelay(0s)
                        opacity 0
                        // transform( scale(1.3) )
                .open
                        transition(all 0.35s ease-out)
                        transform(scale(1) )
                        transitionDelay(.225s)
                        margin-top -20px
                        opacity 1
                        transform(perspective(1200px))
                        line-height 36px


        .mask2
            left auto
            right 0

        .open
            // transform(perspective(1000px))
            transition(all 0.6s ease)
            transitionDelay(0s)
            transform(scale(.85))
            opacity 0
            position absolute
            top 50%
            left 50%
            margin-left -70px
            margin-top -30px
            z-index 10
            background rgba(1, 20, 55, .3)
            width 140px
            height 40px
            font-size 14px
            color #FFF
            text-align center
            line-height 10px
            border 2px solid rgba(255, 255, 255, .3)
            text-transform uppercase


.intro 
    color blueColor
    text-align center
    margin 30px 0
    font-size 1.2rem
    font-family "OpenSans-regular"

section.experiments
    width 100%
    max-width 972px
    margin 50px auto 0
    height 2562px
    overflow-y hidden
    // overflow-x scroll
    -webkit-overflow-scrolling-x: touch;

.experiment

    width 240px
    height 420px
    color #dd4b39
    text-align center
    margin-right 4px
    float left
    position relative
    overflow hidden
    opacity 0
    display block
    -webkit-perspective 1000px
    transition(all 0.5s ease)
    transformOrigin( 50% 0% )
    transform( rotateX(-80deg) )
    -webkit-transform-style: preserve-3d;
    background #fcfcfc

    a 
        text-decoration none

        *
            text-decoration none

    .preview-image 
        display block
        position absolute
        top 0
        left 0
        z-index -1
        width 100%

    .overlay 
        z-index 1
        position absolute
        top 0
        left 0
        background #011437
        opacity .6
        height 100%
        width 100%


    .corner
        position absolute
        top 0 
        right 0
        width 0px
        height 0px
        border-style solid
        border-width 45px 0 0 45px
        border-color transparent transparent transparent #f1f1f1

    .open
        // transform(perspective(1000px))
        transition(all 0.6s ease)
        transitionDelay(0s)
        transform(scale(.85))
        opacity 0
        position absolute
        top 50%
        left 50%
        margin-left -70px
        margin-top -10px
        z-index 10
        background rgba(1, 20, 55, .3)
        width 140px
        height 40px
        font-size 14px
        color #FFF
        text-align center
        line-height 10px
        border 2px solid rgba(255, 255, 255, .3)
        text-transform uppercase

    .desc 
        z-index 2
        width 100%
        height 420px
        background #fff
        text-align center
        position relative
        transition(all 0.3s ease .0s)
        padding-top 117px


        .number
            color #dd4b39
            font-weight 300
            font-size 72px
            padding 50px 0 0 0
            display block
            margin auto
            opacity 0
            transition(all 0.3s ease .2s)
            position: absolute;
            width: 100%;
            top: -5px;

        h3
            color #fe5151
            display block
            font-size 14px
            letter-spacing 2px
            font-family "OpenSans-bold"
            margin 40px 0 0 0
            opacity 0
            transition(all 0.3s ease .3s)
            z-index 3


        h4
            font-family "OpenSans-regular"
            color #fe5151
            display block
            font-size 11px
            letter-spacing 1px
            text-transform uppercase
            margin 15px 0 0px 0
            transition(all 0.3s ease .3s)

        .ice 
            display block
            margin 30px auto 0
            width 15px
            height 16px
            opacity 0
            transition(all 0.3s ease .4s)

        .bottom-triangle
            z-index 2
            width 0px
            height 0px
            border-style solid
            border-width 60px 260px 0 0
            border-color #ffffff transparent transparent transparent
            position absolute
            bottom -60px
            transform( rotate(15deg) )
            transformOrigin(0% 0%)
            transition(all 0.3s ease .15s)
        

    &.show 

        transform( rotateX(0deg) )
        opacity 1

        .overlay 
            opacity 0

        .number 
            padding 40px 0 0 0
            opacity 1

        h3
            margin 30px 0 0 0
            opacity 1

        h4
            opacity 1

        .ice 
            margin 20px auto 0
            opacity 1

        .desc 
            height 225px
            transition(all 0.3s ease .1s)

            .bottom-triangle
                transform( rotate(0deg) ) 
                transition(all 0.3s ease .0s)

    &:hover 

        transform( rotateX(0deg) )
        opacity 1


        .overlay 
            opacity 0

        .number 
            padding 30px 0 0 0
            margin -10px 0 0 0
            font-size 20px
            opacity 1
            position absolute
            z-index 3
            transition(all 0.3s ease 0s)

        h3,
        h4
            // margin -90px 0 0 0
            transition(all 0.3s ease 0s)
            opacity 0

        .ice 
            margin 10px auto 0
            opacity 0
            transition(all 0.3s ease 0s)

        .desc 
            height 40px
            transition(all 0.3s ease .1s)
            padding 50px 0 0 0

            .bottom-triangle
                transform( rotate(13deg) ) 
                transition(all 0.3s ease .2s)
                bottom 0px

        .open
            transition(all 0.35s ease-out 1s)
            transform(scale(1) )
            transitionDelay(.225s)
            margin-top -20px
            opacity 1
            transform(perspective(1200px))
            line-height 36px


    &:nth-child(4n)
        margin 0


    &:nth-child(odd)
        margin-top 20px
        margin-bottom -16px



footer
    font-family "OpenSans-regular"
    margin 50px 0 0 0
    text-align center
    color blueColor

    .share
        padding 30px 0

        .fb_iframe_widget
            margin-right 5px



@media screen and (max-width:1023px)
    
    section.experiments
        height 420px
        
        .inner 
            width 5860px
            height auto

            .experiment
                margin 0 4px 0 0 !important


@media screen and (min-width:1024px)
    section.experiments

        .inner 
            width 100%
